body{text-align:center;background:#0f2027;color:white;font-family:Arial}
.cards{display:flex;justify-content:center;gap:30px;margin:20px}
.card{width:120px;height:160px;background:white;color:black;border-radius:10px;font-size:40px;display:flex;align-items:center;justify-content:center}