body{
  font-family:Arial;
  background:linear-gradient(135deg,#ff9a9e,#fad0c4);
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.hidden{display:none;}

.grid{
  display:grid;
  grid-template-columns:repeat(3,120px);
  gap:20px;
  margin:20px;
}

.hole{
  width:120px;
  height:120px;
  background:#444;
  border-radius:50%;
  position:relative;
  overflow:hidden;
}

.mole{
  width:90px;
  height:90px;
  background:#8b4513;
  border-radius:50%;
  position:absolute;
  bottom:-100px;
  left:15px;
  transition:.3s;
}

.hole.active .mole{
  bottom:10px;
}

button{
  padding:10px 20px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}
