/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background */
body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #000000, #1f1f1f);
  color: white;
}

/* Main box */
.container {
  text-align: center;
  padding: 30px;
  background: rgba(255,255,255,0.05);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

/* Heading */
h1 {
  margin-bottom: 10px;
}

/* Input */
input {
  padding: 12px;
  width: 200px;
  margin: 15px;
  border-radius: 6px;
  border: none;
  outline: none;
}

/* Button */
button {
  padding: 12px 18px;
  border: none;
  border-radius: 6px;
  background: #00c853;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #00e676;
}

/* Message */
#msg {
  margin-top: 15px;
  font-size: 20px;
}
